b {color:darkblue;font-family:ariel;}
p  {color:blue;font-family:ariel;}
h1 {text-shadow:4PX 4PX white;color:darkblue;text-align:center;}
h2 {color:darkblue;font-family:arial;text-align:center;}
h3 {color:darkblue; text-decoration:underline;font-family:arial;}
ol {color:blue;font-family:ariel;}
ul {color:blue;font-family:ariel;}
tr {color:black;font-family:ariel;}
body {padding-right:2%;padding-left:2%;margin-top:10px;margin-bottom:50px;}

	
